@import "tailwindcss";

@theme {
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-primary-700: #6d28d9;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
